<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoadVerificationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1333/LoadVerificationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoadVerificationServiceSoap"
                contract="ServiceReference1.LoadVerificationServiceSoap" name="LoadVerificationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>